:root 
{
--headerbar: #000000;
--tekstboks: rgba(100, 100, 100, 0.216);
--header_buttons: rgb(30, 30, 30);
--header_buttons_text: rgb(223, 223, 223);
--footer: ;
--footer_text: ;
--background_color:#111111;
--tekst: #b7b7b7;
--link_color: rgb(70,70,255); 
}




html{
    overflow-y: scroll;
}

body    
{
    margin: 0;
    background-color: var(--background_color);
    color: var(--tekst);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../Photos/Logo/SS_Logo_Black.svg);
    background-attachment:fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden; 
    overflow-y: auto;
    overflow: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}




/*TEKST*/

h1
{
    color: var(--tekst);
    text-align: left;
}

#mail_tel
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--link_color);
}

.Bilder
{
    width: 100%;
    border-radius: 6px;
}








/* HEADER*/

#logo-header
{
    width: 5vh;
    height: 5vh;
}

#logo-header:hover
{
    opacity: 50%;
    cursor: pointer;
}

header
{
    display: flex;
    justify-content: center;
    align-items: center ;
}


nav
{
    background-color: var(--headerbar);
    backdrop-filter: blur(10px);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 10;
}




#container /*container for buttons */
{
    background-color: none;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}



.header_button
{
    background-color: none;
    color: var(--header_buttons_text);
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    height: 5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    place-items: center;
    font-size: 120%;
}



.header_button:hover
{
    opacity: 50%;
    cursor: pointer;
}



#menu_button
{
    display: none;
}









/*TEKSTBOKS*/

.index_textbox 
{
    background-color: rgba(255, 255, 255, 0.208);
    color: #dfdfdf;
    padding: 2rem;
    margin-top: 4rem;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 1;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
}


.venstre_textbox
{
    background-color: var(--tekstboks);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin-left: 6%;
    margin-top: 6%;
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 2;
    font-size: 20px;
}

.midt_textbox
{
    background-color: var(--tekstboks);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: 5% auto 5% auto;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 2;
}

.høyre_textbox
{
    background-color: var(--tekstboks);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin-left: 40%;
    margin-top: 6%;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 2;
}


.kontakt_textbox
{
    text-align: center;
    background-color: var(--tekstboks);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: 12% auto;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 2;
}



/* FOOTER */

footer 
{
    background: var(--headerbar);
    color: var(--header_buttons_text);
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin-top: auto;
}






/* COMPATIBLE WITH PHONE / PAD */

@media(max-width:760px)
{
    #container 
    {
        margin-top: 23rem;
        margin-left: 80%;
        background-color: var(--headerbar);
        position: absolute;
        z-index: 6;
        display: flex;
        flex-direction: column;
    }

    nav
    {
        flex-direction: column;
        height: 4rem;
        width: 100%;
    }

    #menu_button 
    {
        background-color: black;
        color: var(--header_buttons_text);
        display: block;
        justify-content: right;
        text-decoration: none;
        text-align: center;
        border-radius: 3px;
        border: none;
        width: 10vh;
        height: 5vh;
        font-size: 15px;
        padding: none;
        place-items: center;
        font-size: 120%;
        margin-left: 90%;
    }


    /*BUTTONS*/

    .header_button
    {
        background-color: var(--header_buttons);
        color: var(--tekst);
        display: flex;
        justify-content: center;
        text-decoration: none;
        text-align: center;
        border-radius: 3px;
        border: none;
        font-size: 15px;
        padding: 2px;
        place-items: center;
        gap: 20%;
        z-index: 7;
    }
}

