:root 
{
--headerbar: #ffffff;
--tekstboks: rgba(255, 255, 255, 0.5);
--header_buttons: rgba(0, 0, 0, 0.2);
--background_color:#b8b8b8;
--tekst: #000000;
--link_color: rgb(70,70,255); 
}




html{
    overflow-y: scroll;
}

body 
{
    margin: 0;
    background-color: var(--background_color);
    color: var(--tekst);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../Photos/...);
    background-attachment:fixed;
    background-size: cover;
    
    overflow-x: hidden; 
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
}




/*TEKST*/

h1
{
    color:var(--tekst);
    text-align: center;
}

#mail_tel
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--link_color);
}

.Bilder
{
    width: 100%;
    border-radius: 6px;
}




/* HEADER*/

#logo-header
{
    width: 50px;
}


header
{
    display: flex;
    justify-content: center;
    align-items: center ;
}

nav
{
    background-color: var(--headerbar);
    backdrop-filter: blur(10px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    flex-direction: row;
}



/*BUTTONS*/


#container 
{
    background-color: none;
    padding: 1rem;
    border-radius: 6px;
    margin-left: 67%;
}



.header_button
{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    border: none;
    width: 10vh;
    height: 3vh;
    font-size: 15px;
    padding: none;
    place-items: center;
    font-size: 110%;
    gap: 20%;
}


.header_button:hover
{
    opacity: 50%;
    cursor: pointer;
}



#menu_button
{
    margin-top: 400px;
    margin-left: 90%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    border: none;   
    font-size: 15px;
    padding: none;
    place-items: center;
    font-size: 110%;
    gap: 20%;
    display: none;
}


#menu_button:hover
{
    opacity: 50%;
    cursor: pointer;
}

/*TEKSTBOKS*/

.venstre_textbox
{
    background-color: var(--tekstboks);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin-left: 6%;
    margin-top: 6%;
    backdrop-filter: blur(10px);
}

.midt_textbox
{
    background-color: var(--tekstboks);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: 5% auto 5% auto;
    backdrop-filter: blur(10px);
}

.høyre_textbox
{
    background-color: var(--tekstboks);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin-left: 40%;
    margin-top: 6%;
    backdrop-filter: blur(10px);
}


.kontakt_textbox
{
    text-align: center;
    background-color: var(--tekstboks);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: 12% auto;
    backdrop-filter: blur(10px);
}



/* FOOTER */

footer 
{
  background: rgba(0,0,0,0.5);
  border-top: 1px solid rgba(0,0,0,1);
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
  width: 100%;
  margin-top: auto;
}


.footer_space
{
    height: 100px;
    width: 100%;
    opacity: 100%;
}


/* COMPATIBLE WITH PHONE / PAD */

@media(max-width:760px)
{

    #container 
    {
        background-color: var(--headerbar);
    }


    nav
    {
        flex-direction: column;
        height: 3rem;
        position: absolute;
    }

    #menu_button 
    {
        display: block;
    }

    /*BUTTONS*/

    .header_button
    {
        background-color: rgb(250, 250, 250);
        color: var(--tekst);
        display: flex;
        justify-content: center;
        text-decoration: none;
        text-align: center;
        border-radius: 3px;
        border: none;
        font-size: 15px;
        padding: 2px;
        place-items: center;
        gap: 20%;
    }
}

